<div class="scroll-navbar">
    <nav role="navigation">
        <div class="ol-navbar-bg">
            <div class="ol-navbar">
                <div class="container">
                    <div class="col-md-2">
                        <div class="ol-name">OlyLis</div>
                    </div>
                    <div class="col-md-6 col-md-offset-4">
                        <div class="navbar-right">
                            <ul class="nav">
                                <li class="ol-navLink">
                                    <a href="#ol_a1" data-hover="Story">Story</a>
                                </li>
                                <li class="ol-navLink">
                                    <a href="#ol_a2" data-hover="Skill">Skill</a>
                                </li>
                                <li class="ol-navLink">
                                    <a href="#ol_a3" data-hover="Exp">Exp</a>
                                </li>
                                <li class="ol-navLink">
                                    <a href="#ol_a4" data-hover="Contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>


